/**
*@Author Shubham Maurya.
*National Institute Of Technology Srinagar.
*/


body{
background:#FF3300;
}
.image{
width:205px;
position:local;
margin-left:23%;
margin-top:1.5%;
}
.quote{
font-family:Centaur;
font-size:350%;
color:#001f3f;
position:local;
float:right;
margin-right:18%;
margin-top:2.5%;
}
legend{
	margin-left:34%;
	margin-top:10%;
}
fieldset{
	margin-top:-7%;
	width:280px;
	margin-left:41%;
	height:450px;
	position:local;	
	border:hidden;
	border-radius:15px;
	background-repeat:no-repeat;
	background-image:url('images\\heartbeat.gif');
}
button{
width:95px;
height:29px;
border-radius:20px;
font-size:15px;
outline:none;
opacity:0.85;
border:1px solid black;
box-shadow:3px 3px 3px;	
background-color:#f0f0f0;
padding:5px;
}
#x{
	padding:4px 9px;
	font-size:15px;
	border-radius:15px;
	outline:none;
	opacity:0.85;
	height:20px;
	width:150px;
	border:1px solid black;
	box-shadow:3px 3px 3px;	
	background-color:#f0f0f0;
}
div{
	text-align:center;
}
#g{
margin-left:605px;
margin-top:30px;
font-size:18px;
}
//new uses






