/**
*@Author Shubham Maurya.
*National Institute Of Technology Srinagar.
*/

body{
	background-image:url('images\\1.jpg');
	background-repeat:no-repeat;
	background-size:90% 100%;
	background-position:center;
	opacity:0.8;
	background-attachment:fixed;
	margin-top:-0.6%;
}
	img{
		width:15%;
		border:hidden;
		border-radius:50px;
		background-color:black;
		margin-top:2.9%;
	}

td,table{
	border:2px solid black;
}
td{
	padding:25px;
}
table{
	border-collapse:collapse;
	margin-left:35%;
}

td:hover{
	background-color:#ff0000;
}

li{
	font-size:20px;
}

h3{
	margin-left:18px;
	font-size:20px;
  font-family:sans-serif;
}
div{
box-sizing:border-box;
}
video{
	//background-color:rgb(211,211,211);
	width:90%;
	margin-left:5%;
	opacity:0.8;
}
div.about{
	margin-top:1%;
	padding:10px;
	background-color:#FFE4C4;
	width:90%;
	margin-left:5%;
	opacity:0.8;
	
}
div.p{
		margin-top:1%;
	padding:10px;
	background-color:rgb(158,194,224);
	width:90%;
	margin-left:5%;
		opacity:0.8;
		text-align:justify;
}
div.q{
		margin-top:1%;
	padding:10px;
	background-color:	#98FB98;
	width:90%;
	margin-left:5%;
		opacity:0.8;
		text-align:justify;
}
div.r{
		margin-top:1%;
	padding:10px;
	background-color:rgb(226,193,156);
	width:90%;
	margin-left:5%;
		opacity:0.8;
}
div.s{
		margin-top:1%;
	padding:10px;
	background-color:orange;
	width:90%;
	margin-left:5%;
		opacity:0.8;
		text-align:justify;
	
}
div.t{
	background-color:rgb(255,255,128);	
	width:90%;
	margin-left:5%;
		opacity:0.8;
		text-align:justify;
		margin-top:1%;
			padding:10px;
}
div.u{
		margin-top:1%;
	padding:10px;
	background-color:	#FFB6C1;	
	width:90%;
	margin-left:5%;
		opacity:0.8;
}
div.v{
		margin-top:1%;
	padding:10px;
	background-color:rgb(128,128,64);	
	width:90%;
	margin-left:5%;
		opacity:0.8;
		text-align:justify;
}
/*#g{
margin-left:605px;
margin-top:30px;
font-size:18px;
}*/