/**
*@Author Shubham Maurya.
*National Institute Of Technology Srinagar.
*/


.mySlides {display:none;
width:1330px;
height:500px;
border:1px solid;
border-radius:5px;
}
body{
margin-top:10px;
background-color:#FF3300;
}
#x{
text-align:center;
font-style:elephant;
font-size:60px;
margin-top:0px;
color:rgb(255,0,0);
background-color:rgba(255,255,255,0.9);
border-radius:5px;
}
a{
font-size:20px;
text-decoration:none;
font-family:sans-serif;
color:#FF3300;
}
a:link{
	color:white;
}
a:hover{
	color:white;
}
#g{
margin-left:615px;
margin-top:30px;
}
#y{
background-color:rgba(50,60,100,0.8);
padding:10px;
border-radius:5px;
border-bottom:4px solid pink;
margin-top:-3%;
}
nav{
border:1px solid black;
width:200px;
border-radius:10px;
height:100px;
padding:15px;
}